:root {
    --bg-light: #F5F5F5;
    --primary-text: #303841;
    --accent-teal: #76ABAE;
    --accent-action: #FF5722;
    --white: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav,
.hero,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav  {
    height: 100px;
    background-color:var(--primary-text);
    align-items: center;
}


.hero, 
.services {
    height: 450px;
    padding: 20px;
}

.service-cards {
    display: flex;
    flex-direction: row;
    height: 70%;
    justify-content: space-between;
}

.service-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.service-card img {
    border-radius: 15px;
    height: 60%;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--accent-teal);
}

.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-image img {
    height: 350px;
    width: 350px;
    border-radius: 12px;
}

.hero-text {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hero-description {
    width: min(45vw, 600px);
    color: var(--primary-text);
    line-height: 1.6;
}


.btn-cta {
    padding: 15px;
    width: 150px;
    color: var(--white);
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background-color: var(--accent-action);
}



footer {
    height: 100px;
    background-color:var(--primary-text);
    padding: 20px;
}


footer div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white);
}

.nav {
    padding: 20px;
}
.nav p {
    color: var(--bg-light);
}
.nav-links {
    width: 60vw;
}
.nav-links ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


ul {
    list-style-type: none;
}
ul li a {
    text-decoration: none;
    color: var(--bg-light);
}
